.container-signin {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-signin {
    height: 100px;
    width: auto;
    margin-top: 40px;
}

.form-signin {
    margin-top: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-signin div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-signin .form-label {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.form-signin .form-control {
    padding: 10px;
    width: 250px;
    height: 40px;
    background: none;
    border: 1px solid rgb(206, 206, 206);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: #222;
    outline: none;
    background: none;
    border-radius: 5px;
    transition: .3s;
}

.form-signin .form-control:focus {
    border: 2px solid #222;
}

.form-signin button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: clamp(0.75rem, 2vw, 1rem);
    border: 1px solid #865240;
    border-radius: 5px;
    width: 250px;
    padding: 5px 0;
    cursor: pointer;
    background-color: #865240;
    color: #FFF;
    transition: .3s;
}

.form-signin button:hover {
    background-color: #643a2c;
}

.form-signin .form-validation {
    width: 250px;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    color: rgb(134, 0, 0);
    border: 1px solid rgb(134, 0, 0);
    background-color: rgb(255, 230, 230);
    font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.form-signin .input-password {
    position: relative;
    margin-bottom: 0;
}

.form-signin .input-password svg {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
    color: #222;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .form-signin {
        width: 300px;
    }
    .logo-signin {
        height: 75px;
    }
}