/* RESET */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  --res: calc(0.01 * 10vmin);
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  color: #222;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

p {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

a {
  color: #222;
  text-decoration: none;
}

#root {
  margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
  flex: 1;
}